<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>If-Unless</title>
</head>
<body>
<div class="container">
    <h1>If-Unless demo</h1>
    <table border="1">
        <thead>
        <tr>
            <th>User Name</th>
            <th>User Phone</th>
            <th>User Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersData}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a class="btn btn-primary" th:unless="${user.role} == '*'">View</a>
                <a class="btn btn-primary" th:if="${user.role == 'ADMIN' OR user.role == 'MANAGER'} ">Update</a>
                <a class="btn btn-danger" th:if="${user.role} == 'ADMIN'">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>